# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /GodFood/

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/$ $1.php

ErrorDocument 404 /error/404.html

Options -Indexes

RewriteRule ^$                      			index.php [L]
RewriteRule ^pedido/escolha-restaurante$        cart/busca_restaurantes.php [L]
RewriteRule ^pedido/produtos$           		cart/escolha_produtos.php [L]
RewriteRule ^pedido/resumo$           			cart/view_cart.php [L]
RewriteRule ^pedido/sucesso$          			cart/success.php [L]
